<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="jt-manage" version="2.5">
	<display-name>jt-manage</display-name>

	<!--配置前端控制器
		路径问题: 前缀型路径.后缀型路径
		后缀型路径:	*.do   *.action
		前缀型路径:  /    例子: url:/hello  /hello.do  /hello.action
		规则:    / 拦截请求  和静态资源   放行.jsp等动态资源
		
		全类型 :  /* 表示拦截全部的资源请求 
				abc.jpg等也将会被拦截不合逻辑
		注意:springMVC中的路径拦截 不能添加/*
		
		配置文件的加载方式:
		1.如果没有指定springmvc配置文件,则有默认的加载路径
		与web.xml平级 并且名称叫  springmvc+"-servet".xml
		
		2.如果需要自定义路径 则添加参数
	  -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/applicationContext*.xml</param-value>
		</init-param>
		<!--第一个启动  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--解决post乱码过滤器  -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>